.produtos{
    width: 100vw;
    height: auto;
    margin-bottom: 25px;
    background-color: #ffffff;
}

.confira{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    color: #000000;
}

.filtros-cards{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    background-color: chartreuse;
}

.container-filtros{
    width: 21.81%;
    height: 105.28vh;
    margin-left: 20px;
    background-color: red;
}

.pesquisa{
    width: 90.13%;
    height: 9.88%;
    margin-left: 15px;
    background-color: #110E0E;
    border: none;
    border-radius: 7px;
}

.filtros{
    width: 90.13%;
    height: 87.69%;
    margin-top: 16px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: #1A1A1A;
}

.pFiltros{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}

.pPrecos{
    color: #ffffff;
    padding-top: 23px;
    padding-left: 7px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.radios{
    margin-top: 20px;
    /* background-color: turquoise; */
}

.radio15, .radio30, .radio50{
    display: flex;
    margin-top: 15px;
    /* background-color: yellowgreen; */
}

.preco15, .preco30, .preco50{
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5rem, 5vw, 1.125rem);
}

.pGeneros{
    color: #ffffff;
    padding-top: 38px;
    padding-left: 7px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.checks{
    margin-top: 20px;
    /* background-color: tomato; */
}

.divComedia, .divRomance, .divTerror, .divAjuda{
    display: flex;
    margin-top: 15px;
    /* background-color: yellowgreen; */
}

.pComedia, .pRomance, .pTerror, .pAjuda{
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5rem, 5vw, 1.125rem);
}

.cards{
    width: 67.07%;
    height: auto;
    margin-left: 50px;
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #3618e4;
}

.card-container-produto{
    width: 29.72%;
    height: 48.18%;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
}

.cardProdutoImage{
    width: 48.58%;
    height: 53%;
    margin-top: 20px;
    margin-left: 62px;
    background-color: #ffffff;
}

.cardProdutoImage > img{
    width: 100%;
    height: 100%;
}

.cardProdutoText{
    display: flex;
    flex-direction: column;
    background-color: tomato;
}

.cardProdutoTitulo{
    color: #ffffff;
}

.cardPreco{
    color: #ffffff;
}

.detalhes-produto{
    background-color: #A02582;
}