.promocoes{
    width: 100vw;
    height: auto;
    background-color: #A02582;
}

.pPromocoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    color: #ffffff;
}